{% extends 'base.html.twig' %}
{% form_theme form 'fields.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Books</h1>

    <a href="{{ path('app_author_index') }}" class="btn">Authors -></a>

    {{ include('book/_form_filter.html.twig') }}

    <table class="table align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Year</th>
                <th>Authors</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.year }}</td>
                <td>
                    {% if book.authors %}
                        <ul>
                            {% for author in book.authors %}
                                <li>
                                    {{ author.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>
                <td>
                    {% if book.image %}
                        <div class = "image" style = "background-image: url('{{ asset('uploads/images/' ~ book.image) }}')"></div>
                    {% endif %}
                </td>
                </td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_new') }}">Create new</a>
{% endblock %}
